
  
<div class="container  mt-2"><div class="col-md-12"><div class="card">

    <form action="/admin/jobs/edit/<%= opportunity.id %>" method="POST" class="grad_opp_form">
<div class="card-header">
<strong>Opportunity Description</strong>
</div>

<div class="card-body"><div class="row">
<div class="col-md-4">
<div class="form-group"> <label>Title<br></label>
<input type="text" name="title" class="form-control" placeholder="" value="<%= opportunity.title %>"> </div>
<div class="form-group"> <label>Submission Deadline<br></label>
<input class="form-control" name="deadline" type="date" value="2018-08-19" id="example-datetime-local-input">
</div>


</div><div class="col-md-4">
<div class="form-group"> <label>Opportunity Type<br></label>
<input type="text" name="candidate_type" class="form-control" placeholder="MASc/ PHD etc.." value="<%= opportunity.candidate_type %>">  </div>

<div class="form-group">
<label for="sel1">Funding Available? </label>
<select class="form-control" id="sel1" name="funding_available">
<option>Yes</option>
<option>No</option>
</select>
</div>

</div><div class="col-md-4">
<div class="form-group"> <label>Email Contact</label>
<input type="" name="contact_details"  class="form-control" placeholder="" value=" <%= opportunity.contact_details %>"> </div>
<div class="form-group"> <label>Funding Amount<br></label>
<input type="" name="funding_amount"  class="form-control" placeholder="" value="<%= opportunity.funding_amount %>" >  </div>

</div>

</div>
<div class="row">
<div class="col-md-12"><div class="form-group"> <label>Description<br></label>
<textarea type="text" rows="5" name="op_description" class="form-control" id="grad_opp_description" placeholder="Describe the opportunity and requirements" > <%= opportunity.description %></textarea> </div></div>

</div>
<div class="row">
<div class="col-md-12"><div class="form-group"> <label>Research Keywords<br></label>
<input type="text" name="op_keywords" class="form-control"   placeholder="" value=" <%= opportunity.theme.toString() %>"> </div></div>

</div>
<div class="row">
<div class="col-md-12"><div class="form-group"> <label>Requirements<br></label>
<input type="text" name="op_requirements" class="form-control"   placeholder="" value="<%= opportunity.requirements.toString()%>">  </div></div>

</div>
<button type="submit" class="btn btn-secondary" >Update</button>

</div>
</div></div>
</form>
</div>

