

<% list.forEach(function(professor){ %>

<div class="col-md-6 col-sm-12 py-2">
    <div class="card">
    <div class='image-container m-auto' style=" align-item:center;width: 50%;height:auto">
      <img class="card-img-top" style="height: 30%;" src="<%= professor.profile_image %>" alt="<% professor.name %>" >
      </div>
      <div class="card-header "><h4 class="font-weight-bold"><%= professor.name %></h4>  
        <h6 class="text-muted"> <p><i class="fas fa-briefcase mr-2"></i><b>  </b><%= professor.job_title %></p></h6></div>
      <div class="card-body">
        
        <h5 style=" display: inline-block">
         <span class="badge badge-pill"><a href="mailto:<%= professor.email %>"> <i class="fas fa-envelope mr-2"></i><%= professor.email %></a></span>
        </h5>
        <h5 style="display: inline-block">
            <span class="badge badge-pill"><a ><i class="fas fa-map-marker-alt mr-2"></i><%= professor.location %></a></span>
           </h5>
        <br>
        <div style="display: inline-block">
            <% professor.research_interest.forEach(function(interest){ %>
            <% if(interest.length >=24) {%>
              <% var interest = interest.substring(0,24)+"..." %>
            <% }%>
            <span class="badge badge-pill badge-secondary"><a ><i class="fas fa-map-marker-alt mr-2"></i><%= interest %></a></span>
            <% }); %>
          </div>

      </div>
    </div>
  </div>
  <% }); %>

